.Month {
  flex-direction: column;
  border-right: 2px solid #393939;
  flex: 1;
  min-width: 8rem;
}

.Month:last-of-type {
  border-right: none;
}

.Month > div:first-of-type {
  height: 4.2rem;
  border-bottom: 2px solid #393939;
  font-weight: 700;
  background-color: #505050;
}

.Month > div:first-of-type {
  align-items: center;
  justify-content: center;
}