.Month {
  flex-direction: column;
  min-width: 8rem;
}

.Month > div:first-of-type {
  height: 4.2rem;
  font-weight: 700;
  background-color: #505050;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  box-sizing: border-box;
}

.Month:last-of-type > div:first-of-type  {
  border-right: none;
}