.Button {
  position: relative;
  border-radius: 1.8rem;
  border: 2px solid #acacac;
  padding: 0.9rem 2.1rem;
  color: white;
  font-weight: 700;
  background-color: transparent;
  font-size: 1.6rem;
  margin: 0.7rem;
}

.Button.Active {
  background-color: #acacac;
}

.Event {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: #dcc04a;
  z-index: 2;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.06px;
  color: black;
}

@media screen and (max-width: 767px) {
  .Event {
    width: 100%;
    border-radius: 1rem;
    padding: 0;
  }
}
