.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.06px;
  position: absolute;
  top: 0;
  font-family: Helvetica, sans-serif;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1px;
  box-sizing: border-box;
  overflow: hidden;
}

.HoverInfo {
  position: absolute;
  width: auto;
  padding: 1.3rem 2rem;
  background-color: #fff;
  display: none;
  top: 100%;
  left: 50%;
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.Wrapper:hover .HoverInfo {
  display: block;
}

.TooltipText > p {
  color: #000000;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.TooltipText > p:last-of-type, .TooltipText > p:nth-last-of-type(2) {
  color: #e40000;
}

.TooltipText > p > strong {
  font-weight: 700;
}
