.Wrapper {
  height: 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.06px;
  position: absolute;
  top: 0;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.HoverInfo {
  position: absolute;
  width: 100px;
  padding: 15px;
  background-color: #fff;
  display: none;
  top: 100%;
  left: 50%;
}

.Wrapper:hover .HoverInfo {
  display: block;
}
