.Day {
  flex-direction: column;
  border-right: 2px solid #393939;
}

.Day > div:first-of-type {
  height: 4.2rem;
  border-bottom: 2px solid #393939;
  font-weight: 700;
  background-color: #505050;
  align-items: center;
  justify-content: center;
}

.Day > div:nth-of-type(2) {
  justify-content: flex-end;
}

.Day.Weekend > div:nth-of-type(2) {
  background-color: #505050;
}
