/* events */
.Events {
  position: absolute;
  top: calc(12.6rem + 6px + 0.4rem);
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.EventsRow {
  position: relative;
  height: 2.4rem;
  margin-bottom: 0.3rem;
}

.EventCircle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: #dcc04a;
  z-index: 2;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.06px;
}

/* rethinking */
.Wrapper {
  flex: 1;
  display: flex;
  overflow-x: scroll;
  background-color: #393939;
  color: #fff;
}

.Wrapper div {
  display: flex;
  box-sizing: border-box;
}

.Year {
  position: relative;
}

.Year,
.Month,
.Day {
  flex-direction: column;
  border-right: 2px solid #393939;
  flex: 1;
}

.Month:last-of-type,
.Day:last-of-type {
  border-right: none;
}

.Year > div:first-of-type,
.Month > div:first-of-type,
.Day > div:first-of-type {
  height: 4.2rem;
  border-bottom: 2px solid #393939;
  font-weight: 700;
  background-color: #505050;
}

.Year > div:first-of-type,
.Month > div:first-of-type,
.Day > div:first-of-type,
.EmptyYear,
.MonthCircleWrapper {
  align-items: center;
  justify-content: center;
}

.Month {
  min-width: 8rem;
}

.MonthCircleWrapper {
  /*min-height: 5.8rem;*/
  flex: 1;
  padding: 0.4rem;
}

.Day > div:nth-of-type(2) {
  justify-content: flex-end;
}
