.Top,
.Top > div,
.Bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #393939;
  color: white;
}

.Top > div:nth-of-type(2) {
  flex: 2;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}

.Top > div:nth-of-type(3) {
  justify-content: flex-end;
}

.Bottom {
  justify-content: space-between;
}
