.Label {
  display: flex;
  min-height: 4.2rem;
  border-bottom: 2px solid #393939;
  font-weight: 700;
  background-color: #505050;
  align-items: center;
  justify-content: center;
}

.Content {
  display: flex;
  position: relative;
  padding: 0.4rem;
  flex: 1;
}
